html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 62.5%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.precision,
.active,
.fa-phone-alt,
.fa-check-double,
.problems {
  color: #cca13f;
}

.dark-background {
  background-color: #0f1025;
}

.bold {
  font-weight: bold;
}

.none {
  display: none;
}

.wrapper {
  width: 100%;
}
.wrapper .navbar {
  display: none;
}
@media only screen and (max-width: 1100px) {
  .wrapper .hamburger-container {
    position: relative;
    z-index: 1000;
  }
  .wrapper .hamburger-container .navbar {
    width: 300px;
    height: 100%;
    background-color: rgba(113, 114, 117, 0.9);
    position: fixed;
    top: 0;
    right: -300px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: ease-out 800ms;
  }
  .wrapper .hamburger-container .navbar .hamburger-menu {
    width: 35px;
    height: 30px;
    position: fixed;
    top: 25px;
    right: 25px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .wrapper .hamburger-container .navbar .hamburger-menu .line {
    width: 100%;
    height: 5px;
    background-color: #cca13f;
    transition: all 800ms;
  }
  .wrapper .hamburger-container .navbar .hamburger-menu .change.line1 {
    transform: rotateZ(-405deg) translate(-8px, 6px);
  }
  .wrapper .hamburger-container .navbar .hamburger-menu .change.line2 {
    opacity: 0;
  }
  .wrapper .hamburger-container .navbar .hamburger-menu .change.line3 {
    transform: rotateZ(405deg) translate(-8px, -6px);
  }
  .wrapper .hamburger-container .navbar .nav-list .nav-item .link {
    font-size: 2rem;
    color: #000;
    font-weight: 500;
  }
  .wrapper .hamburger-container .navbar .nav-list .nav-item .link:hover {
    color: #cca13f;
    transition: ease 300ms;
  }
  .wrapper .hamburger-container .navbar.change {
    right: 0;
    transition: ease-in-out 800ms;
  }
  .wrapper .header {
    display: none;
  }
}
.wrapper header {
  width: 100%;
}
.wrapper header .top-header {
  width: 100%;
  background-color: #fff;
}
.wrapper header .top-header .logo {
  font-size: 2rem;
}
.wrapper header .top-header .top-header-div {
  display: flex;
  max-width: 1400px;
  margin: 0 auto;
  padding: 60px 0;
  justify-content: space-between;
  align-items: center;
  font-size: 1.6rem;
}
.wrapper header .top-header .top-header-div ul {
  display: flex;
}
.wrapper header .top-header .top-header-div ul .nav-link {
  padding: 0;
  margin: 0 10px;
}
.wrapper header .top-header .top-header-div ul .nav-link a {
  color: #000;
}
.wrapper header .top-header .top-header-div ul .nav-link a:hover {
  color: #cca13f;
}
.wrapper header .top-header .top-header-div ul .nav-link-1 {
  margin: 0 30px !important;
}
.wrapper header .top-header .top-header-div ul .phone-number {
  margin-left: 10px;
}
.wrapper header .bottom-header {
  background-color: #0f1025;
  color: #bdb8b8;
}
.wrapper header .bottom-header .bottom-header-div {
  display: flex;
  max-width: 1400px;
  margin: 0 auto;
  justify-content: space-between;
}
.wrapper header .bottom-header .bottom-header-div ul {
  display: flex;
  margin: 30px 0;
  align-items: center;
}
.wrapper header .bottom-header .bottom-header-div ul li {
  font-size: 1.2rem;
}
.wrapper header .bottom-header .bottom-header-div ul .bottom-header-top-li {
  margin-right: 20px;
}
.wrapper header .bottom-header .bottom-header-div ul .bottom-header-bottom-li {
  margin-left: 20px;
}
.wrapper .carousel-section .carousel-inner {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.wrapper .carousel-section .carousel-inner .carousel-item .text {
  position: absolute;
  top: 20px;
  left: 250px;
  height: 200px;
  flex-direction: column;
  align-items: flex-start;
  line-height: 1.2;
}
.wrapper .carousel-section .carousel-inner .carousel-item .text .carousel-h3 {
  font-size: 2rem;
  color: #cca13f;
}
.wrapper .carousel-section .carousel-inner .carousel-item .text .carousel-p {
  font-size: 3rem;
  margin-bottom: 50px;
  font-weight: 700;
}
.wrapper .carousel-section .carousel-inner .carousel-item .text .carousel-button {
  border: none;
  font-size: 1.4rem;
  padding: 15px 30px;
  border-radius: 30px;
  background-color: #cca13f;
  color: #fff;
}
.wrapper .carousel-section .carousel-inner .carousel-item .text .carousel-button .angle-right {
  width: 40px;
  position: relative;
  text-align: start;
  -webkit-animation: slideRight;
          animation: slideRight;
}
@-webkit-keyframes slideRight {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(20px);
  }
}
@keyframes slideRight {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(20px);
  }
}
@media only screen and (max-width: 750px) {
  .wrapper .carousel-section {
    display: none;
  }
}
.wrapper .statement-section {
  background-color: #0f1025;
  height: 500px;
  position: relative;
}
@media only screen and (max-width: 1100px) {
  .wrapper .statement-section {
    height: 100%;
    padding-bottom: 50px;
  }
}
.wrapper .statement-section .statement-wrapper {
  display: grid;
  height: 100%;
  max-width: 1400px;
  margin: 0 auto;
  color: #fff;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}
@media only screen and (max-width: 1100px) {
  .wrapper .statement-section .statement-wrapper {
    max-width: 90%;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
  }
}
.wrapper .statement-section .statement-wrapper .statement-first-div .welcome {
  color: #cca13f;
  font-size: 2rem;
}
.wrapper .statement-section .statement-wrapper .statement-first-div p {
  font-size: 5rem;
  font-weight: bold;
}
.wrapper .statement-section .statement-wrapper .statement-second-div {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}
@media only screen and (max-width: 1100px) {
  .wrapper .statement-section .statement-wrapper .statement-second-div {
    grid-template-columns: 1fr;
  }
}
.wrapper .statement-section .statement-wrapper .statement-second-div p {
  line-height: 1.2;
  font-size: 1.5rem;
}
.wrapper .statement-section .statement-wrapper .statement-second-div p span {
  color: #cca13f;
  font-weight: bold;
}
.wrapper .emblem-section {
  background-color: #f3f3f3;
  width: 100%;
  display: flex;
  justify-content: center;
}
.wrapper .emblem-section .emblem-wrapper {
  max-width: 1400px;
  margin-top: 200px;
}
.wrapper .emblem-section .emblem-wrapper .image-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 3px;
}
@media only screen and (max-width: 1100px) {
  .wrapper .emblem-section .emblem-wrapper .image-wrapper {
    grid-template-columns: repeat(3, 1fr);
  }
}
.wrapper .emblem-section .emblem-wrapper .image-wrapper img {
  max-width: 100%;
  height: auto;
}
.wrapper .emblem-section .emblem-wrapper .attributes {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  max-width: 1400px;
}
@media only screen and (max-width: 1100px) {
  .wrapper .emblem-section .emblem-wrapper .attributes {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
  }
}
.wrapper .emblem-section .emblem-wrapper .attributes .attribute-div {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.7rem;
  height: 150px;
  margin-top: 100px;
  margin-bottom: 100px;
}
@media only screen and (max-width: 1100px) {
  .wrapper .emblem-section .emblem-wrapper .attributes .attribute-div {
    margin-top: 0;
    margin-bottom: 0;
  }
}
.wrapper .emblem-section .emblem-wrapper .attributes .attribute-div svg {
  margin-right: 10px;
  font-size: 3rem;
  fill: #9fa0a0;
}
.wrapper .emblem-section .emblem-wrapper .attributes .attribute-div span {
  font-weight: bold;
}
.wrapper .emblem-section .emblem-wrapper .attributes .attribute-div:nth-child(2) {
  border-left: 2px solid #9fa0a0;
  border-right: 2px solid #9fa0a0;
}
@media only screen and (max-width: 1100px) {
  .wrapper .emblem-section .emblem-wrapper .attributes .attribute-div:nth-child(2) {
    border: none;
  }
}
.wrapper .second-statement {
  background-color: #161736;
  color: #fff;
  padding-top: 60px;
  padding-bottom: 60px;
}
.wrapper .second-statement .second-statement-wrapper {
  max-width: 1400px;
  display: grid;
  grid-template-columns: 40% 60%;
  margin: 0 auto;
}
@media only screen and (max-width: 1100px) {
  .wrapper .second-statement .second-statement-wrapper {
    max-width: 90%;
    grid-template-columns: 1fr;
    row-gap: 20px;
  }
}
.wrapper .second-statement .second-statement-wrapper .second-statement-first-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 10px;
}
.wrapper .second-statement .second-statement-wrapper .second-statement-first-div .problems {
  font-size: 2rem;
}
.wrapper .second-statement .second-statement-wrapper .second-statement-first-div .problems-question-statement {
  font-size: 4rem;
  font-weight: bold;
}
.wrapper .second-statement .second-statement-wrapper .second-statement-second-div {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  -moz-column-gap: 20px;
       column-gap: 20px;
  font-size: 1.6rem;
  line-height: 1.2;
}
@media only screen and (max-width: 1100px) {
  .wrapper .second-statement .second-statement-wrapper .second-statement-second-div {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    row-gap: 20px;
  }
}
.wrapper .second-statement .second-statement-wrapper .second-statement-second-div .left-div {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
.wrapper .form-map-section {
  background-color: #0f1025;
  padding: 150px 0;
}
.wrapper .form-map-section .form-map-wrapper {
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
@media only screen and (max-width: 1100px) {
  .wrapper .form-map-section .form-map-wrapper {
    max-width: 90%;
    flex-direction: column;
  }
}
.wrapper .form-map-section .form-map-wrapper .form-map-title {
  line-height: 1.2;
  margin-bottom: 20px;
}
.wrapper .form-map-section .form-map-wrapper .form-map-title .form-map-title-top {
  font-size: 1.7rem;
}
.wrapper .form-map-section .form-map-wrapper .form-map-title .form-map-title-bottom {
  font-size: 2rem;
  color: #fff;
}
.wrapper .form-map-section .form-map-wrapper .form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  font-size: 1.8rem;
}
@media only screen and (max-width: 750px) {
  .wrapper .form-map-section .form-map-wrapper .form {
    grid-template-columns: 1fr;
  }
}
@media only screen and (max-width: 1100px) {
  .wrapper .form-map-section .form-map-wrapper .form {
    margin-bottom: 40px;
  }
}
.wrapper .form-map-section .form-map-wrapper .form .input-style {
  width: 90%;
  border: none;
  border-bottom: 2px solid #fff;
  background-color: #0f1025;
  color: #fff;
  margin-bottom: 30px;
  cursor: pointer;
}
.wrapper .form-map-section .form-map-wrapper .form .input-style.select option.option {
  font-size: 1rem;
}
.wrapper .form-map-section .form-map-wrapper .form .input-style::-moz-placeholder {
  color: #f3f3f3;
  font-size: 1.6rem;
}
.wrapper .form-map-section .form-map-wrapper .form .input-style:-ms-input-placeholder {
  color: #f3f3f3;
  font-size: 1.6rem;
}
.wrapper .form-map-section .form-map-wrapper .form .input-style::placeholder {
  color: #f3f3f3;
  font-size: 1.6rem;
}
.wrapper .form-map-section .form-map-wrapper .form .input-style.date:focus,
.wrapper .form-map-section .form-map-wrapper .form .input-style.date:hover {
  color: white;
}
.wrapper .form-map-section .form-map-wrapper .form .input-style:focus,
.wrapper .form-map-section .form-map-wrapper .form .input-style:hover {
  outline: none;
}
.wrapper .form-map-section .form-map-wrapper .form .form-button {
  border: none;
  font-size: 1.4rem;
  padding: 15px 30px;
  border-radius: 30px;
  background-color: #cca13f;
  color: #fff;
}
@media only screen and (max-width: 1100px) {
  .wrapper .form-map-section .form-map-wrapper .location {
    text-align: center;
  }
  .wrapper .form-map-section .form-map-wrapper .location .iframe {
    width: 98%;
  }
}
.wrapper .footer {
  width: 100%;
  height: 800px;
  background-image: url("img/mountain-bow.jpg");
  background-image: url("../dist/img/mountain-bmw.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.wrapper .footer .overlay-color {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}
.wrapper .footer .overlay-color .footer-wrapper {
  display: flex;
  max-width: 1400px;
  height: 100%;
  margin: 0 auto;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  padding-bottom: 40px;
}
.wrapper .footer .overlay-color .footer-wrapper .footer-list {
  width: 100%;
  display: flex;
  flex-direction: row;
}
@media only screen and (max-width: 1100px) {
  .wrapper .footer .overlay-color .footer-wrapper .footer-list {
    justify-content: center;
  }
}
.wrapper .footer .overlay-color .footer-wrapper .footer-list .footer-item {
  margin-right: 20px;
  font-size: 1.6rem;
}
@media only screen and (max-width: 1100px) {
  .wrapper .footer .overlay-color .footer-wrapper .footer-list .footer-item {
    font-size: 1rem;
  }
}
.wrapper .footer .overlay-color .footer-wrapper .footer-list .footer-item a {
  color: #fff;
}
.wrapper .footer .overlay-color .footer-wrapper .to-top {
  position: fixed;
  right: 10px;
  bottom: 10px;
  font-size: 1.6rem;
  color: #000;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: none;
  z-index: 1000;
}
.wrapper .footer .overlay-color .footer-wrapper .to-top:hover,
.wrapper .footer .overlay-color .footer-wrapper .to-top:focus {
  cursor: pointer;
  outline: none;
  border: none;
  background-color: #bdb8b8;
}
.wrapper .learn-more {
  width: 100%;
  background-color: #161736;
  padding-top: 100px;
  padding-bottom: 100px;
}
.wrapper .learn-more .learn {
  max-width: 1400px;
  margin: 0 auto;
  color: #fff;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: "title paragraph paragraph";
}
@media only screen and (max-width: 1100px) {
  .wrapper .learn-more .learn {
    max-width: 90%;
    grid-template-columns: 1fr;
    grid-template-areas: "title" "paragraph";
    row-gap: 30px;
  }
}
.wrapper .learn-more .learn .learn-title {
  grid-area: title;
}
.wrapper .learn-more .learn .learn-title .learn-h3 {
  font-size: 1.6rem;
}
.wrapper .learn-more .learn .learn-title .learn-p {
  font-size: 4rem;
  font-weight: bold;
  margin-top: 20px;
}
.wrapper .learn-more .learn .para {
  grid-area: paragraph;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  -moz-column-gap: 40px;
       column-gap: 40px;
  font-size: 1.8rem;
  line-height: 1.2;
}
@media only screen and (max-width: 1100px) {
  .wrapper .learn-more .learn .para {
    grid-template-columns: 1fr;
    row-gap: 30px;
  }
}
.wrapper .services-repair {
  width: 100%;
}
.wrapper .services-repair .top-services-div {
  padding: 100px 0;
  width: 100%;
  background-color: #161736;
}
.wrapper .services-repair .top-services-div .top-services-wrapper {
  max-width: 1400px;
  margin: 0 auto;
  color: #fff;
}
@media only screen and (max-width: 1100px) {
  .wrapper .services-repair .top-services-div .top-services-wrapper {
    width: 90%;
  }
}
.wrapper .services-repair .top-services-div .top-services-wrapper .top-services-section {
  display: flex;
  flex-direction: column;
}
.wrapper .services-repair .top-services-div .top-services-wrapper .top-services-section .top-services-div1 {
  margin-bottom: 100px;
}
.wrapper .services-repair .top-services-div .top-services-wrapper .top-services-section .top-services-div1 h3 {
  font-size: 1.4rem;
}
.wrapper .services-repair .top-services-div .top-services-wrapper .top-services-section .top-services-div1 p {
  font-size: 5rem;
  font-weight: bold;
}
.wrapper .services-repair .top-services-div .top-services-wrapper .top-services-section .top-services-div2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: "section1 section2 section3";
  -moz-column-gap: 40px;
       column-gap: 40px;
  font-size: 1.5rem;
  line-height: 1.4;
  height: 500px;
  margin-bottom: 50px;
  padding-bottom: 60px;
  border-bottom: 1px solid #f3f3f3;
}
@media only screen and (max-width: 1100px) {
  .wrapper .services-repair .top-services-div .top-services-wrapper .top-services-section .top-services-div2 {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: "section1" "section2";
    height: 100%;
    -moz-column-gap: 0;
         column-gap: 0;
  }
}
.wrapper .services-repair .top-services-div .top-services-wrapper .top-services-section .top-services-div2 .first {
  grid-area: section1;
  align-self: center;
}
.wrapper .services-repair .top-services-div .top-services-wrapper .top-services-section .top-services-div2 .second {
  grid-area: section2;
  align-self: center;
}
.wrapper .services-repair .top-services-div .top-services-wrapper .top-services-section .top-services-div2 .third {
  grid-area: section3;
  background-image: url("../dist/img/AutoRepairShop.jpg");
  background-size: cover no-repeat;
}
.wrapper .services-repair .top-services-div .top-services-wrapper .top-lower-services-section {
  display: grid;
  position: relative;
  grid-template-columns: repeat(2, 1fr);
  -moz-column-gap: 40px;
       column-gap: 40px;
  font-size: 1.6rem;
  line-height: 1.4;
}
@media only screen and (max-width: 1100px) {
  .wrapper .services-repair .top-services-div .top-services-wrapper .top-lower-services-section {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    row-gap: 20px;
  }
}
.wrapper .services-repair .bottom-services-div {
  width: 100%;
  background-color: #0f1025;
  color: #fff;
  padding: 100px 0;
}
.wrapper .services-repair .bottom-services-div .bottom-services-wrapper {
  max-width: 1400px;
  margin: 0 auto;
}
@media only screen and (max-width: 1100px) {
  .wrapper .services-repair .bottom-services-div .bottom-services-wrapper {
    width: 90%;
  }
}
.wrapper .services-repair .bottom-services-div .bottom-services-wrapper .bottom-services-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  font-size: 1.6rem;
  line-height: 1.4;
}
@media only screen and (max-width: 1100px) {
  .wrapper .services-repair .bottom-services-div .bottom-services-wrapper .bottom-services-section {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    row-gap: 20px;
  }
}
.wrapper .services-repair .bottom-services-div .bottom-services-wrapper .bottom-services-section .bottom-left-div {
  justify-content: space-between;
}
.wrapper .services-repair .bottom-services-div .bottom-services-wrapper .bottom-services-section .bottom-left-div .left-div-top p {
  font-size: 3.5rem;
  line-height: 1;
}
.wrapper .services-repair .bottom-services-div .bottom-services-wrapper .bottom-services-section .bottom-right-div {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas: "top" "bottom";
}
@media only screen and (max-width: 1100px) {
  .wrapper .services-repair .bottom-services-div .bottom-services-wrapper .bottom-services-section .bottom-right-div {
    row-gap: 20px;
  }
}
.wrapper .services-repair .bottom-services-div .bottom-services-wrapper .bottom-services-section .bottom-right-div .bottom-right-div1 {
  grid-area: top;
}
.wrapper .services-repair .bottom-services-div .bottom-services-wrapper .bottom-services-section .bottom-right-div .bottom-right-div2 {
  grid-area: bottom;
  align-self: flex-start;
  margin-top: 38px;
}
@media only screen and (max-width: 1100px) {
  .wrapper .services-repair .bottom-services-div .bottom-services-wrapper .bottom-services-section .bottom-right-div .bottom-right-div2 {
    align-self: flex-start;
    margin-top: 0;
  }
}
.wrapper .contact {
  width: 100%;
  background-color: #161736;
  color: #fff;
  position: relative;
}
.wrapper .contact .contact-wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 150px 0;
  display: flex;
  justify-content: space-between;
}
@media only screen and (max-width: 900px) {
  .wrapper .contact .contact-wrapper {
    flex-direction: column;
    row-gap: 50px;
    justify-content: center;
  }
}
.wrapper .contact .contact-wrapper .contact-left-div {
  margin: 0 auto;
}
.wrapper .contact .contact-wrapper .contact-left-div .contact-us-top {
  font-size: 1.7rem;
}
.wrapper .contact .contact-wrapper .contact-left-div .contact-us-bottom {
  font-size: 5rem;
  font-weight: bold;
}
.wrapper .contact .contact-wrapper .contact-right-div {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  line-height: 1.6;
  -moz-column-gap: 30px;
       column-gap: 30px;
  row-gap: 10px;
  grid-template-areas: "div1 div3" "div2 div4";
}
@media only screen and (max-width: 700px) {
  .wrapper .contact .contact-wrapper .contact-right-div {
    grid-template-columns: 1fr;
    grid-template-areas: "div1" "div2" "div3" "div4";
    margin: 0 auto;
  }
}
.wrapper .contact .contact-wrapper .contact-right-div .right-div1 {
  grid-area: div1;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 30px 0 10px;
}
.wrapper .contact .contact-wrapper .contact-right-div .right-div2 {
  grid-area: div2;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 30px 0 10px;
}
.wrapper .contact .contact-wrapper .contact-right-div .right-div3 {
  grid-area: div3;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 30px 0 10px;
}
.wrapper .contact .contact-wrapper .contact-right-div .right-div4 {
  grid-area: div4;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 30px 0 10px;
}
.wrapper .contact .contact-wrapper .contact-right-div .right-div1 .div-title,
.wrapper .contact .contact-wrapper .contact-right-div .right-div2 .div-title,
.wrapper .contact .contact-wrapper .contact-right-div .right-div3 .div-title,
.wrapper .contact .contact-wrapper .contact-right-div .right-div4 .div-title {
  font-size: 1.4rem;
  font-weight: bold;
}
.wrapper .contact .contact-wrapper .contact-right-div .right-div1 .div-info,
.wrapper .contact .contact-wrapper .contact-right-div .right-div2 .div-info,
.wrapper .contact .contact-wrapper .contact-right-div .right-div3 .div-info,
.wrapper .contact .contact-wrapper .contact-right-div .right-div4 .div-info {
  font-size: 1.4rem;
}/*# sourceMappingURL=style.css.map */