@import 'reset';
$white: #fff;
$dark-blue: #0f1025;
$gold: #cca13f;
$navy-blue: #161736;
$grey: #bdb8b8;

.precision {
  color: $gold;
}

.active {
  color: $gold;
}

.fa-phone-alt {
  color: $gold;
}

.fa-check-double {
  color: $gold;
}

// ---------HEADER SECTION
header {
  width: 100%;

  .top-header {
    width: 100%;
    background-color: $white;

    .logo {
      font-size: 2rem;
    }

    .top-header-div {
      display: flex;
      max-width: 1400px;
      margin: 0 auto;
      padding: 60px 0;
      justify-content: space-between;
      align-items: center;
      font-size: 1.6rem;

      ul {
        display: flex;

        .nav-link-1 {
          margin: 0 15px;
        }

        .nav-link:hover {
          color: $gold;
        }
      }
    }
  }

  .bottom-header {
    background-color: $dark-blue;
    color: $grey;

    .bottom-header-div {
      display: flex;
      max-width: 1400px;
      margin: 0 auto;
      justify-content: space-between;

      ul {
        display: flex;
        margin: 30px 0;
        align-items: center;

        li {
          font-size: 1.2rem;
        }

        .bottom-header-top-li {
          margin-right: 20px;
        }

        .bottom-header-bottom-li {
          margin-left: 20px;
        }
      }
    }
  }
}

// ----------Carousel Section
.carousel-section {
  .carousel {
    max-height: 800px;
  }
  .carousel-inner {
    width: 100%;
    height: 100%;
    object-fit: contain;

    .carousel-item {
      height: 800px;
      .text {
        position: absolute;
        top: 20px;
        left: 250px;
        height: 200px;
        flex-direction: column;
        align-items: flex-start;
        line-height: 1.2;

        .carousel-h3 {
          font-size: 2rem;
          color: $gold;
        }

        .carousel-p {
          font-size: 3rem;
          margin-bottom: 50px;
          font-weight: 700;
        }

        .carousel-button {
          border: none;
          font-size: 1.4rem;
          padding: 15px 30px;
          border-radius: 30px;
          background-color: $gold;
          color: $white;

          .angle-right {
            width: 40px;
            position: relative;
            text-align: start;
            animation: slideRight;
          }

          @keyframes slideRight {
            0% {
              transform: translateX(0);
            }

            100% {
              transform: translateX(20px);
            }
          }
        }
      }
    }
  }
}

// Statement Section
.statement-section {
  background-color: $dark-blue;
  height: 500px;

  .statement-wrapper {
    display: grid;
    height: 100%;
    max-width: 1400px;
    margin: 0 auto;
    color: $white;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;

    .statement-first-div {
      .welcome {
        color: $gold;
        font-size: 2rem;
      }

      p {
        font-size: 5rem;
        font-weight: bold;
      }
    }

    .statement-second-div {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 20px;

      p {
        line-height: 1.2;
        font-size: 1.5rem;

        span {
          color: $gold;
          font-weight: bold;
        }
      }
    }
  }
}
